#wrapper {
    position: relative;
    height: 100vh;
    z-index: 900;
}

#Accueil {
    position: relative;
    z-index: 899;
    height: 100vh;
}

.Hero {
    position: absolute;
    top: 241px;
    left: 197px;
    padding: 0 40px;
}

.Hero .Hero-content {
    display: flex;
    flex-direction: column;
    row-gap: 38px;
    align-items: baseline;
    /* gap: 38px; */

    span:nth-of-type(2) {
        position: absolute;
        top: 349px;
        left: 954px;
        right: 0px;
    }

    .Cta {
        position: absolute;
        top: 441px;
        font-family: "Poiret One", sans-serif;
        font-size: var(--LinkMobile);
        padding: 10px 26px;
        cursor: pointer;
        border-radius: 10px;
        text-align: center;
        border: none;
        background-color: var(--color-white);
        color: var(--color-secondary);
        text-transform: uppercase;
    }
}

.Hero .Hero-content .Welcome-t {
    font-family: "Poiret One", sans-serif;
    font-size: var(--paragaph);
    color: var(--color-white);
}

.Hero .Hero-content .Citation {
    font-family: "Poiret One", sans-serif;
    font-size: var(--title1);
    color: var(--color-white);
}

.Hero .Hero-content .Name-c {
    font-family: "Poiret One", sans-serif;
    font-size: var(--link);
    color: var(--color-white);
}

#Accueil>video {
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    width: 100%;
}