#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: var(--color-white);
    z-index: 1000;
    opacity: 1;
}

.header-content {
    display: flex;
    padding: 2vh 8vw;
    justify-content: right;
    /* gap: 20rem; */
    align-items: center;
}

.header-content-s-between {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    align-items: center;
}

.header-logo-wrapper {
    position: relative;

    width: 100px;
    height: 100px;
    background-image: url("../Media/Logo.svg");
}


.btn-open-menu {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    position: relative;
    /* left: 15vw; */
    letter-spacing: 10%;
    font-size: 16px;
    cursor: pointer;
    list-style-type: none;
    color: var(--color-black);
}

.nav-link-overlay {
    display: none;
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
}

.nav-link-overlay.isActive {
    display: flex;
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
}

.nav-link {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nav-link-content {
    padding: 5vh 6.5vw;
    width: 100%;
}

.nav-link-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-link>.link {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.2rem;
    color: var(--color-black);
    font-size: var(--h1);
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    letter-spacing: .2rem;
    text-decoration: none;
    text-transform: none;

}

.icon-link {
    width: 85px;
    height: 85px;
}

.nav-link-content {
    display: flex;
    flex-direction: column;
    gap: 20vh;
}

.nav-link-bt {
    display: flex;
    justify-content: space-between;
}

.rs-ad-content {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.rs {
    display: flex;
    gap: .8rem
}

.rs-link {
    font-family: "Roboto", sans-serif;
    font-size: var(--p1);
    color: var(--color-black);
    font-weight: lighter;
}

.ad {
    display: flex;
    gap: .8rem;
}

.ad-link {
    font-family: "Roboto", sans-serif;
    font-size: var(--p1);
    color: var(--color-black);
    font-weight: lighter;
}

.contact-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: .8rem;
}

.contact-link {
    font-family: "Roboto", sans-serif;
    font-size: var(--p1);
    font-weight: lighter;
    color: var(--color-black);
}

.btn-close-menu {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    cursor: pointer;
    color: black;
    opacity: 50%;
    font-weight: lighter;
    height: fit-content;
}