#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: var(--color-white);
    z-index: 1000;
    opacity: 1;
}

.header-content {
    display: flex;
    padding: 2vh 8vw;
    justify-content: right;
    /* gap: 20rem; */
    align-items: center;
}

.header-content-s-between {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    align-items: center;
}

.header-logo-wrapper {
    position: relative;

    width: 100px;
    height: 100px;
    background-image: url("../Media/Logo.svg");
}


.btn-menu {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    position: relative;
    /* left: 15vw; */
    letter-spacing: 10%;
    font-size: 16px;
    cursor: pointer;
    list-style-type: none;
    color: var(--color-black);
}

.nav-link-overlay {
    display: none;
}