.poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 200;
    font-style: normal;
}

:root {
    /** COLOR */

    --color-primary: #76412C;
    --color-secondary: #D29D89;
    --color-black: black;
    --color-grise: #9C9C9C;
    --color-white: #FFFF;

    /** FONT SIZES */

    --h1: 80px;
    --h2: 41px;
    --h3: 21px;
    --LinkMobile: 32px;
    --p1: 16px;
    --p2: 14px;
    --dlink: 10px;


}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: inherit;
    height: auto;
}