#NavBar {
    /* padding: 20px 90px */
    position: fixed;
    top: 20px;
    left: 90px;
    right: 90px;
    z-index: 991;


}


.NavBar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.Logo-content {
    background-image: url(media/Logo.svg);
    object-fit: cover;
    background-size: cover;
    width: 80px;
    height: 80px;
}

.NavLink-content {
    justify-content: space-between;
    transition: 1s cubic-bezier(0.4, 0, 0.2, 1);



    ul {
        display: flex;
        align-items: center;
    }


    li {
        display: flex;
        align-items: center;
        padding: 10px;

    }

    a {
        font-family: "Poiret One", sans-serif;
        font-size: var(--paragaph);
        text-decoration: none;
        cursor: pointer;
        color: var(--color-white);
        font-weight: 400 !important;
        text-transform: uppercase;
    }

    .horizontal-line {
        display: none;
        border: 1px solid #9C9C9C;
        border-radius: 2px;
    }

    .Reseau {
        display: none;
        width: 106px;
        padding: 5px 10px;
        position: absolute;
        bottom: 104px;
        left: 88px;
        right: 50%;

        .titre-rs {
            font-family: "Poiret One", sans-serif;
            text-align: center;
        }

        .Content-rs>img {
            padding: 10px 5px;
        }

        .Content-rs {
            gap: 6px;
            display: inline-flex;
        }
    }




}


.Burger-content {
    display: none;
    padding: 5px 5px;
    cursor: pointer;

}

.Close-content {
    position: absolute;
    top: 40px;
    right: 90px;
    display: none;
    padding: 5px 5px;
    cursor: pointer;
}

.NavLink-content ul li a,
.NavLink-content ul li a:after,
.NavLink-content ul li a:before {
    transition: all .5s;
}

.NavLink-content ul li a:hover {
    color: var(--color-black);
}

.NavLink-content ul li a {
    position: relative;
    padding: 15px;
    font-weight: 400 !important;
}

.NavLink-content ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    background: var(--color-secondary);
    height: 1px;
}

.NavLink-content ul li a:hover:after {
    width: 100%;
}

.Line {
    position: fixed;
    top: 112px;
    z-index: 991;
    width: 100%;
    border: 1px solid var(--color-white);
    border-radius: 2px;
}

/* NavBar Done !*/


#Accueil {
    position: relative;
    z-index: 899;
    height: 100vh;



}

.Hero {
    position: absolute;
    top: 241px;
    left: 197px;
    padding: 0 40px;
}

.Hero .Hero-content {
    display: flex;
    flex-direction: column;
    row-gap: 38px;
    align-items: baseline;
    /* gap: 38px; */

    span:nth-of-type(2) {
        position: absolute;
        top: 349px;
        left: 954px;
        right: 0px;
    }

    .Cta {
        position: absolute;
        top: 441px;
        font-family: "Poiret One", sans-serif;
        font-size: var(--LinkMobile);
        padding: 10px 26px;
        cursor: pointer;
        border-radius: 10px;
        text-align: center;
        border: none;
        background-color: var(--color-white);
        color: var(--color-secondary);
        text-transform: uppercase;
    }
}

.Hero .Hero-content .Welcome-t {
    font-family: "Poiret One", sans-serif;
    font-size: var(--paragaph);
    color: var(--color-white);
}

.Hero .Hero-content .Citation {
    font-family: "Poiret One", sans-serif;
    font-size: var(--title1);
    color: var(--color-white);
}

.Hero .Hero-content .Name-c {
    font-family: "Poiret One", sans-serif;
    font-size: var(--link);
    color: var(--color-white);
}

#Accueil>video {
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

/* Accueil Done !*/
/* A propos Done !*/
#A-propos {
    height: 100vh;
    z-index: 900;
    background-color: bisque;
    position: relative;
}

/* Nos produits Done !*/
#Nos-produits {
    height: 100vh;
    background-color: aquamarine;
    position: relative;
}

/* Contacts Done !*/
#Contacts {
    height: 100vh;
    background-color: cornflowerblue;
    position: relative;
}